body {
  background-color: black;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.backgroundimg {
  position: fixed;
   left: 0;
   right: 0;
   z-index: 1;

   display: block;
   background-image: url('web6.jpg');
   background-size: cover;
   width: auto;
   height: 100%;

   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);

}

.content-float {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.centercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
img.logo {
  width: 400px;
  height: auto;
}

p.saving {
  font-family: Titillium Web;

  font-weight: lighter;
}

p.underline {

  font-family: Titillium Web;
  font-weight: bold;
  z-index: 9999;
}
#particles{
  width: 100%;
  height: 100%;
  position: fixed;
}
.canvaspart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.particleFLOATER {
position: fixed;
left: 0;
right: 0;
z-index: 9999;
margin: -50px;
}
